$background-color : #fafafa
$primary-color : #000
$secondary-color : #fff
$warning-color: #FF0000
$success-color : #4BB543

div, a, p, img, ::before
	transition: all 500ms
p, h1, h2, h3, h4, h5, h6, a, li, span
	color: $primary-color
hr
	border-color: $primary-color
body
	background-color: $background-color
	.navbar
		transition: all 500ms
		.navbar-collapse
			background-color: $primary-color
			li
				text-align: center
				a
					color: $secondary-color
					&:hover
						background-color: transparent
		.navbar-toggle
			padding-top: 20px
			.icon-bar
				background-color: $primary-color
	h2
		margin-bottom: 20px
		text-align: left
		&::before
			content: ''
			position: absolute
			bottom: 15px
			left: 15px
			width: 30px
			height: 2px
			background-color: $primary-color
	.offer
		text-align: center
		.icon-holder
			width: 100px
			height: 100px
			border: solid 2px $primary-color
			border-radius: 50%
			margin: auto
			span
				font-size: 35px
				line-height: 100px
		h4
			font-weight: 700
	.references
		.reference
			height: 200px
			overflow: hidden
			position: relative
			border: solid 1px $secondary-color
			h3
				position: absolute
				right: 20px
				bottom: 20px
				color: $secondary-color
				text-align: right
				&::before
					position: absolute
					bottom: -5px
					content: ''
					width: 20px
					height: 1px
					border: solid 1px $secondary-color
					background-color: $secondary-color
					transition: width 0.5s
			img
				width: 100%
			&:hover
				h3
					&::before
						width: 100%
		.col-md-4, .col-md-8
			padding: 0
	.footer	
		text-align: center
		padding: 20px
	.about, .contact
		margin-top: 75px
	.team
		.member
			text-align: center !important
		h4
			font-weight: 700
	.contact
		.contact-form
			margin-bottom: 30px
			span
				color: $warning-color
			.sent
				color: $success-color
<<<<<<< HEAD
	.carousel
		.carousel-caption
			bottom: 50px
			h3
				color: $secondary-color
=======

>>>>>>> 75c14fd2735d0385ce8f8bbfb3034eb81a7d147f

@media screen and (min-width: 768px)
	body
		.navbar
			.navbar-collapse
				background-color: transparent
				li
					text-align: left
					a
						margin: 30px 40px
						padding: 0
						font-size: 16px
						&::before
							content: ''
							position: absolute
							left: 0
							top: 20px
							height: 2px
							width: 0px
							background-color: $secondary-color
						&:hover
							&::before
								width: 100%
		.inverse	
			li
				a
					color: $primary-color !important
					&::before
						background-color: $primary-color !important
		.color-change
			background-color: $secondary-color
			li
				a
					color: $primary-color !important
					&::before
						background-color: $primary-color !important
		.contact
			.contact-desc
				padding-left: 20px
			.contact-form
				border-right: solid 1px $primary-color
				padding-right: 20px
<<<<<<< HEAD
		.carousel
			.carousel-caption
				bottom: 150px !important
				text-align: right
				h3
					font-size: 40px
					text-align: right
=======
>>>>>>> 75c14fd2735d0385ce8f8bbfb3034eb81a7d147f
