<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Monosolutions</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="css/styles.css">
</head>
<body>

	<nav class="navbar navbar-fixed-top inverse">
	  <div class="container">

	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	    </div>

	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav navbar-left">
	        <li class="menu-tag"><a href="/">Home</a></li>
	        <li class="menu-tag"><a href="about.html">About us</a></li>
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	        <li class="menu-tag"><a href="contact.html">Contact us</a></li>
	        <li class="menu-tag"><a href="#">FAQ</a></li>
	      </ul>
	    </div>
	  </div>
	</nav>

	<div class="container">
		<div class="row contact">
			<div class="col-xs-12">
				<h2>Contact us</h2>
			</div>
			<div class="col-md-8 col-xs-12 contact-form">
				<form ng-app="myApp"  ng-submit="submit()" ng-controller="validateCtrl" name="contactForm" novalidate>
					<h3 class="sent">{{success}}</h3>
					<div class="form-group">
						<label for="name">Name *</label>
						<input type="text" class="form-control" id="name" name="name" placeholder="Name" ng-model="user" required>
						<span ng-show="contactForm.name.$dirty && contactForm.name.$invalid">
							<span ng-show="contactForm.name.$error.required">Name is required.</span>
						</span>
					</div>
					<div class="form-group">
						<label for="email">E-mail *</label>
						<input type="email" class="form-control" id="email" name= "email" placeholder="E-mail" ng-model="email" required>
						<span ng-show="contactForm.email.$dirty && contactForm.email.$invalid">
							<span ng-show="contactForm.email.$error.required">Email is required.</span>
							<span ng-show="contactForm.email.$error.email">Invalid email address.</span>
						</span>
					</div>
					<div class="form-group">
						<label for="message">Message *</label>
						<textarea class="form-control" name="message" id="message" rows="10" ng-model="message" required></textarea>
						<span ng-show="contactForm.message.$dirty && contactForm.message.$invalid">
							<span ng-show="contactForm.message.$error.required">Message is required.</span>
						</span>
					</div>
					<p>* required</p>
					<button type="submit" class="btn btn-default" ng-disabled="myForm.user.$dirty && myForm.user.$invalid ||  
myForm.email.$dirty && myForm.email.$invalid">Submit</button>
				</form>
			</div>
			<div class="col-md-4 col-xs-12 contact-desc">
				<p>Do not hasitate to contact us. Duis cursus ut metus id consectetur. Vestibulum in vulputate tortor. Donec vulputate egestas massa, vel tristique sem iaculis eu. Sed ac ligula tellus. Nunc lacinia, elit et faucibus rutrum, mauris eros lobortis metus, id fringilla est metus id turpis. Nunc vel tempor arcu. Nunc euismod blandit ipsum, in pellentesque tellus pretium commodo. Suspendisse turpis nunc, sagittis non dui ut, rhoncus finibus nulla.</p>
			</div>
		</div>
		<div class="row footer">
			<div class="col-xs-12">
				<p>&copy Robert Bayer</p>
			</div>
		</div>
	</div>

	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="js/script.js"></script>
<<<<<<< HEAD
	<script>
		var app = angular.module('myApp', []);
		app.controller('validateCtrl', function($scope) {
		    $scope.name = '';
		    $scope.email = '';
		    $scope.message = '';
		    $scope.submit = function(){
		      $scope.success = "Your message was sent!";
		    };
		});
	</script>
=======
>>>>>>> 75c14fd2735d0385ce8f8bbfb3034eb81a7d147f
</body>
</html>
